.type-letter {
    --letter-spacing: 5px;
}

.letter {
    color: var(--text);
    letter-spacing: var(--letter-spacing);
    transition: 0.3s;
}

.letter-pointer{
    cursor: pointer
}
    .letter:hover {
        transform: translateY(-1px);
    }

    
.letter-small{
    font-size: 12px;
}

.letter-medium{
    font-size: 14px;
}

.letter-large{
    font-size: 16px;
}