.sidebar {
    display: flex;
    padding: 20px;
    gap: 5px;
    flex-direction: column;
    background: var(--bg);
    border-radius: 10px;
    transition: 0.3s all;
}

.button-drawer{
    margin-left: auto;
}

.main-column.sidebar-close .button-drawer{
    transform: translateX(-15px)
}