

.common-button[b-mk9imwedut] {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    border: var(--border);
    padding: 12px 8px 12px 8px;
    border-radius: 5px;
    gap: 10px;
    transition: 0.5s all;
}

    .common-button:hover[b-mk9imwedut] {
        background: #10151d;
        transform: translateY(-1px);
    }

.common-button-icon[b-mk9imwedut] {
    width: 24px;
    min-width: 24px;
    text-align: center;
    transition: transform .3s ease;
}

.letter-medium[b-mk9imwedut] {
   
    opacity: 1;
    max-width: 200px;
    transition: opacity .3s ease, max-width .3s ease, margin .3s ease;
}

.main-column.sidebar-close .sidebar .common-button[b-mk9imwedut] {
    gap: 0 !important;
    padding-left: calc(50% - 12px) !important;
}

.main-column.sidebar-close .sidebar .letter-medium[b-mk9imwedut] {
    opacity: 0 !important;
    max-width: 0 !important;
    margin-left: -10px !important;
} 